{% extends "home/home.html" %}
{% import "home/page_list3.html" as pp %}
{% block content %}
    <div class="container" style="margin-top:76px">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" style="margin-top:6px;">
                    <li>与"{{ key }}"有关的电影，共{{ num }}部</li>
                </ol>
            </div>
            <div class="col-md-12">
                {% for foo in page_data.items %}
                    <div class="media">
                        <div class="media-left">
                            <a href="play.html">
                                <img class="media-object" src="{{ url_for("static",filename="uploads/"+foo.logo) }}" alt="环太平洋" style="width: 150px; height: 110px">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ foo.title }}<a href="{{ url_for("home.play",id=foo.id,page=1) }}"
                                                             class="label label-primary pull-right"><span
                                    class="glyphicon glyphicon-play"></span>播放影片</a></h4>
                            {{ foo.info }}
                        </div>
                    </div>
                {% endfor %}


            </div>
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{ pp.render_page(page_data,"home.search") }}
                   {#     <li>
                            <a href="#" aria-label="First">
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                        <li><a href="#">1&nbsp;/&nbsp;10</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="Last">
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>#}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}